{% extends 'base.html' %}

{% block title %} Users {% endblock %}

{% block body %}

<p align="right">{{ company }} <a href="{% url 'companyLogout' %}">logout</a></p>
<p align="right">balance: {{ balance }}</p>
<br>



<div class="btn-group btn-group-lg" style="position: relative; left: 45%;">
	<a href="{% url 'companyDashboard' %}" class="btn btn-primary active" aria-current="page">Dashboard</a>
	<a href="{% url 'companyUsers' %}" class="btn btn-primary">Users</a>
</div>


<br>
<br>
<br>

<div class="container">

	<div class="row">

		<div class="col-sm">
			
			<form action="{% url 'companyDashboard' %}" method="post">
				{% csrf_token %}
				<div class="container">
					<h2>Manage Pricing</h2>
					<br>
					<div class="row" style="padding-bottom: 10px;">
						<div class="col-sm-2" style="padding-top: 4px;">
							{{ priceForm.lunch.label_tag }}
						</div>
						<div class="col-sm">
							{{ priceForm.lunch.as_widget }}
						</div>
					</div>

					<div class="row">
						<div class="col-sm-2" style="padding-top: 4px;">
							{{ priceForm.dayoff.label_tag }}
						</div>
						<div class="col-sm">
							{{ priceForm.dayoff.as_widget }}
						</div>
					</div>
					<br>

				<input type="submit" value="Apply" class="btn btn-success">
				</div>	
				

			</form>
		</div>



		<div class="col-sm">
			<form action="{% url 'companyDashboard' %}" method="post">
				{% csrf_token %}
				<div class="container">
					<h2>Buy Tokens</h2>
					<br>
					<div class="row" style="padding-bottom: 20px;">
						<div class="col-sm-2" style="padding-top: 4px;">
							{{ buyForm.tokens.label_tag }}
						</div>
						<div class="col-sm">
							{{ buyForm.tokens.as_widget }}
						</div>
					</div>
				<br>
				<br>

				<input type="submit" value="Buy" class="btn btn-success">
				</div>
					
			</form>
		</div>



		<div class="col-sm">
			<form action="{% url 'companyDashboard' %}" method="post">
				{% csrf_token %}
				<div class="container">
					<h2>Schedule Payoff</h2>
					<br>
					<div class="row" style="padding-bottom: 10px;">
						<div class="col-sm-4" style="padding-top: 4px;">
							{{ scheduleForm.day_of_month.label_tag }}
						</div>
						<div class="col-sm">
							{{ scheduleForm.day_of_month.as_widget }}
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4" style="padding-top: 4px;">
							{{ scheduleForm.amount.label_tag }}
						</div>
						<div class="col-sm">
							{{ scheduleForm.amount.as_widget }}
						</div>
					</div>
				<br>

				<input type="submit" value="Schedule" class="btn btn-success">
				</div>
				
			</form>
		</div>

</div>

</div>

{% endblock %}