{% extends 'base.html' %}

{% block title %} Sign up your company {% endblock %}

{% block body %}

<p align="right"><a href="{% url 'companyLogin' %}">Log In</a></p>
<br>

<div class="container" style="position: relative; left: 35%;">
	<div class="row">
		<div class="col-sm">
	
			<form action="{% url 'companySignup' %}" method="post">
			{% csrf_token %}
			<div class="container">
				<h2>Please input company info</h2>
				<br>

			<div class="container">
				<ul class="messages">
					{% for msg in messages %}
					<li>
						<div class="alert alert-{{ msg.level_tag }}" role="alert">
							{{ msg.message }}
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>

			<div class="row" style="padding-bottom: 10px;">
				<div class="col-sm-1" style="padding-top: 4px;">
					{{ form.organization.label_tag }}
				</div>
				<div class="col-sm-2">
					{{ form.organization.as_widget }}
				</div>
			</div>

			<div class="row" style="padding-bottom: 10px;">
				<div class="col-sm-1" style="padding-top: 4px;">
					{{ form.email.label_tag }}
				</div>
				<div class="col-sm-2">
					{{ form.email.as_widget }}
				</div>
			</div>

			<div class="row" style="padding-bottom: 10px;">
				<div class="col-sm-1" style="padding-top: 4px;">
					{{ form.password1.label_tag }}
				</div>
				<div class="col-sm-2">
					{{ form.password1.as_widget }}
				</div>
					{% if form.non_field_errors %}
					<div class="form-group">
						<div class="alert alert-warning" role="alert">
							{{ form.non_field_errors }}
						</div>
					</div>
					{% endif %}
			</div>

			<div class="row" style="padding-bottom: 10px;">
				<div class="col-sm-1" style="padding-top: 4px;">
					{{ form.password2.label_tag }}
				</div>
				<div class="col-sm-2">
					{{ form.password2.as_widget }}
				</div>
			</div>
			<br>

		<input type="submit" value="Sign Up" class="btn btn-success">
		</div>

	</form>

	{% if errormsg %}

	<h2>{{ errormsg }}</h2>

	{% endif %}

</div>
</div>
</div>

{% endblock %}



