{% extends 'base.html' %}

{% block title %} Users {% endblock %}

{% block body %}

<p align="right">{{ company }} <a href="{% url 'companyLogout' %}">logout</a></p>
<p align="right">balance: {{ balance }}</p>
<br>

<div class="btn-group btn-group-lg" style="position: relative; left: 45%;">
	<a href="{% url 'companyDashboard' %}" class="btn btn-primary" aria-current="page">Dashboard</a>
	<a href="{% url 'companyUsers' %}" class="btn btn-primary active">Users</a>
</div>

<br>
<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-sm">

			<form action="{% url 'companyUsers' %}" method="post">
				{% csrf_token %}
				<div class="container">
					<h2>Create User</h2>
					<br>
				
				<div class="container">
					<ul class="messages">
						{% for msg in messages %}
							<li>
								<div class="alert alert-{{ msg.level_tag }}" role="alert">
									{{ msg.message }}
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
					

					<div class="row" style="padding-bottom: 10px;">
						<div class="col-sm-2" style="padding-top: 4px;">
							{{ form.username.label_tag }}
						</div>
						<div class="col-sm-1">
							{{ form.username.as_widget }}
						</div>
					</div>

					<div class="row" style="padding-bottom: 10px;">
						<div class="col-sm-2" style="padding-top: 4px;">
							{{ form.first_name.label_tag }}
						</div>
						<div class="col-sm">
							{{ form.first_name.as_widget }}
						</div>
					</div>

					<div class="row" style="padding-bottom: 10px;">
						<div class="col-sm-2" style="padding-top: 4px;">
							{{ form.last_name.label_tag }}
						</div>
						<div class="col-sm">
							{{ form.last_name.as_widget }}
						</div>
					</div>

					<div class="row" style="padding-bottom: 10px;">
						<div class="col-sm-2" style="padding-top: 4px;">
							{{ form.password1.label_tag }}
						</div>
						<div class="col-sm">
							{{ form.password1.as_widget }}
						</div>
							{% if form.non_field_errors %}
							<div class="form-group">
								<div class="alert alert-warning" role="alert">
									{{ form.non_field_errors }}
								</div>
							</div>
							{% endif %}
					</div>

					<div class="row" style="padding-bottom: 10px;">
						<div class="col-sm-2" style="padding-top: 4px;">
							{{ form.password2.label_tag }}
						</div>
						<div class="col-sm">
							{{ form.password2.as_widget }}
						</div>
					</div>

					<div class="row" style="padding-bottom: 10px;">
						<div class="col-sm-2" style="padding-top: 4px;">
							{{ form.tokens.label_tag }}
						</div>
						<div class="col-sm">
							{{ form.tokens.as_widget }}
						</div>
					</div>

					<div class="row" style="padding-bottom: 10px;">
						<div class="col-sm-2" style="padding-top: 4px;">
							<p>Company:</p>
						</div>
						<div class="col-sm">
							{{ form.comp.as_widget }}
						</div>
					</div>
					<br>

				<input type="submit" value="Add User" class="btn btn-success">.
				</div>

			</form>

			{% if errormsg %}

			<h2>{{ errormsg }}</h2>

			{% endif %}

		</div>

		<div class="col-sm">
			<div class="container">
				<h2>Users</h2>
				<br>
				<br>
				<div id="wrapper">
					<ul>
						{% for user in users %}

						<li><a href="{% url 'companyUser' pk=user.rel %}">{{ user.first_name }} {{ user.last_name }}</a></li>

						{% endfor %}
					</ul>
				</div>
			</div>

		</div>

</div>


{% endblock %}

