{% extends 'base.html' %}

{% block title %} User - {{ username }} {% endblock %}

{% block body %}

<p align="right">{{ company }} <a href="{% url 'companyLogout' %}">logout</a></p>
<p align="right">balance: {{ account }}</p>
<br>


<div class="container" style="position: relative; left: 40%;">
	<h1>User {{ username }}</h1>
	<br>
	<br>
	<br>
	<h2>{{ first_name }} {{ last_name }}</h2>
	<br>
	<h4>Current balance: {{ balance }}</h4>
	<br>
	<form action="{% url 'companyUser' pk=full_user.rel %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}

		<ul class="messages">
			{% for msg in messages %}
			<li>
				<div class="alert alert-{{ msg.level_tag }}" role="alert">
					{{ msg.message }}
				</div>
			</li>
			{% endfor %}
		</ul>
		<br>

		<input type="submit" value="Send" class="btn btn-success">
		<a href="{% url 'companyUsers' %}" class="btn btn-primary">Go back</a>
			
	</form>

	<br>
	<br>
	<br>
	<br>


	<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
  		Delete user
	</button>

<!-- Modal -->
	<form action="{% url 'companyUser' pk=full_user.rel %}" method="post">
		{% csrf_token %}
		<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="deleteLabel">Confirm action</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
		      </div>
		      <div class="modal-body">
		        Delete {{ username }} permanently?
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
		        <input type="hidden" id="delete" name="delete" value="delete">
		        <input type="submit" value="Delete" class="btn btn-danger">
		      </div>
		    </div>
		  </div>
		</div>
	</form>
		
</div>

{% endblock %}

