{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
	<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</head>
<body style="margin-left: 50px; margin-right: 50px;">
	{% block body %} {% endblock %}
</body>
</html>