{% extends 'base.html' %}

{% block title %} Log in {% endblock %}

{% block body %}

<br>
<br>
<br>
<br>

<div class="container" style="position: relative; left: 35%;">
	<div class="row">
		<div class="col-sm">

			<form action="{% url 'userLogin' %}" method="post">
				{% csrf_token %}

				<div class="container">
					<ul class="messages">
						{% for msg in messages %}
						<li>
							<div class="alert alert-{{ msg.level_tag }}" role="alert">
								{{ msg.message }}
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>

				<div class="row" style="padding-bottom: 10px;">
					<div class="col-sm-1" style="padding-top: 4px;">
						{{ form.username.label_tag }}
					</div>
					<div class="col-sm-2">
						{{ form.username.as_widget }}
					</div>
				</div>

				<div class="row" style="padding-bottom: 10px;">
					<div class="col-sm-1" style="padding-top: 4px;">
						{{ form.password.label_tag }}
					</div>
					<div class="col-sm-2">
						{{ form.password.as_widget }}
					</div>
				</div>
				<br>

			<input type="submit" value="Log In" class="btn btn-success">

		</form>
	</div>
</div>
</div>

{% endblock %}