{% extends 'base.html' %}

{% block title %} User - {{ user }} {% endblock %}

{% block body %}

<p align="right">company: {{ company }}</p>
<p align="right">{{ user.rel.username }} <a href="{% url 'userLogout' %}">logout</a></p>
<p align="right">balance: {{ balance }}</p>
<br>
<br>
<br>

<div class="container" style="position: relative; left: 30%;">
	<h1>Hello, {{ user.first_name }} {{ user.last_name }}!</h1>
</div>
<br>
<br>

<div class="container">

	<div class="container">
		<ul class="messages">
			{% for msg in messages %}
			<li>
				<div class="alert alert-{{ msg.level_tag }}" role="alert">
					{{ msg.message }}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>

	<div class="row">

		<div class="col-sm">
			<br>

			<form action="{% url 'userPage' pk=user %}" method="post">
				{% csrf_token %}
				<label for="buy_lunch">{{ currentLunch }} tokens </label>
				<input type="hidden" id="buy_lunch" name="buy_lunch" value="buy_lunch">
				<input type="submit" value="Buy Lunch" class="btn btn-success">

			</form>

			<br>

			<form action="{% url 'userPage' pk=user %}" method="post">
				{% csrf_token %}
				<label for="have_day_off">{{ currentDayoff }} tokens </label>
				<input type="hidden" id="have_day_off" name="have_day_off" value="have_day_off">
				<input type="submit" value="Have day off" class="btn btn-success">

			</form>

			<br>
			<br>
			<br>

			<form action="{% url 'userPage' pk=user %}" method="post">
				{% csrf_token %}
				{{ form1.as_p }}
				<input type="submit" value="Withdraw" class="btn btn-success">

			</form>

		</div>


		<div class="col-sm">
			<form action="{% url 'userPage' pk=user %}" method="post">
				{% csrf_token %}

				<div class="container">
					<h3>Send tokens to:</h3>
					<div class="row" style="padding-bottom: 10px;">
						<div class="col-sm-2" style="padding-top: 4px;">
							{{ form2.username.label_tag }}
						</div>
						<div class="col-sm">
							{{ form2.username.as_widget }}
						</div>
					</div>

					<div class="row" style="padding-bottom: 10px;">
						<div class="col-sm-2" style="padding-top: 4px;">
							{{ form2.amount.label_tag }}
						</div>
						<div class="col-sm">
							{{ form2.amount.as_widget }}
						</div>
					</div>
				<br>
				<input type="submit" value="Send" class="btn btn-success">

			</form>
			
		</div>
	</div>
</div>



{% endblock %}